<div class="px-3 d-flex justify-content-between align-items-center border-top footer fixed-bottom">
    <span class="text-muted">
    <span class="justify-content-left">© 2024 ZapNotes, Inc</span>
    </span>
</div>